.App {
  text-align: center;
}

.elements-container{
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.element{
  width: 50%;
}

.weather-image{
  height: 60px;
  width: 60px;
}
